header {
    height: 70px;
    padding-bottom: 10px;
}

header nav {
    text-align: center;
    line-height: 70px;

}

header nav a {
    text-decoration: none;
    font-size: 1.6em;
    margin: 0 25px;
    color: #E6382C;
}

#logo {
    height: 60px;
    width: 100px;
}

#welcomeimg {
    width: 100vw;
    height: 50vh;
    background-image: url('https://images.pexels.com/photos/1249611/pexels-photo-1249611.jpeg?auto=compress&cs=tinysrgb&w=800');
    background-size: cover;
}

#title {
    text-align: center;

}

#about-wrapper {
    width: 100vw;

}

#about-wrapper p {
    font-size: 1.3em;
    width: 85%;
    text-align: center;
    margin: auto;
}

#about-wrapper img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    float: right;
    margin-right: 30px;

}

#services-wrapper {
    width: 100vw;
    text-align: center;
}

#services-wrapper table {
    margin: auto;
    width: 50vw;
    border: 2px solid #d8d8d8;
    font-size: 1.4em;
}

#services-wrapper tr {
    border: 2px solid #d8d8d8;

}

#services-wrapper tr:nth-child(even) {
    background-color: #d8d8d8;
}

#servicep {
    color: #042821;
   font-style: oblique;
    font-size: larger;
    text-indent: 1.5em;
}

#rkj {
    border: 2px solid;
    border-radius: 8px;
    width: 200px;
}

#spec {
    margin: auto;
    width: 50vw;
    border: 2px solid #d8d8d8;
    font-size: 1.4em;
    border: 2px solid #d8d8d8;
}

#spec td {
    padding-left: 40px;
}
#contact {
    color: #E6382C;
}
#contact input {
    margin-bottom: 1.5em;
    text-align: center;
   
}
#contact button {
    color: #E6382C;
    border: 1em;
}